<section class="new-training" fxLayout fxLayoutAlign="center center">
  <form #f="ngForm" (ngSubmit)="onStartTraining(f)">
    <mat-card fxFlex.xs="100%" fxFlex="400px">
      <mat-card-title fxLayoutAlign="center"
        >şimdi Egzersiz Zamanı !</mat-card-title
      >
      <mat-card-content fxLayoutAlign="center">
        <mat-form-field *ngIf="!(isLoading$ | async) && exercises">
          <mat-select
            placeHolder="Egzersiz seçin"
            ngModel
            name="exercise"
            required
          >
            <mat-option
              *ngFor="let exercise of this.exercises"
              [value]="exercise.id"
            >
              {{ exercise.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-spinner *ngIf="isLoading$ | async"></mat-spinner>
      </mat-card-content>
      <mat-card-actions fxLayoutAlign="center" *ngIf="(isLoading$ | async)">
        <button
          color="accent"
          *ngIf="exercises"
          mat-raised-button
          type="submit"
          disabled="{{ f.invalid }}"
        >
          Başla
        </button>
        <button
          color="accent"
          *ngIf="!exercises"
          mat-raised-button
          type="button"
          (click)="fetchAgain()"
          disabled="{{ f.invalid }}"
        >
          Tekrar Deneyin
        </button>
      </mat-card-actions>
      <mat-card-footer></mat-card-footer>
    </mat-card>
  </form>
</section>
