<section class="new-training" fxLayout fxLayoutAlign="center center">
  <form (ngSubmit)="onStartTraining(f)" #f="ngForm">
  <mat-card fxFlex.xs="100%" fxFlex="400px">
    <mat-card-title fxLayoutAlign="center"
      >şimdi Egzersiz Zamanı !</mat-card-title
    >
    <mat-card-content fxLayoutAlign="center">
      <mat-form-field>
        <mat-select placeHolder="Egzersiz seçin" ngModel name="exercise" required>
          <mat-option
            *ngFor="let exercise of this.exercises"
            [value]="exercise.id"
          >
            {{ exercise.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions fxLayoutAlign="center">
      <button mat-button type="submit" (click)="onStartTraining()" disabled="f.invalid">
        Başla
      </button>
    </mat-card-actions>
    <mat-card-footer></mat-card-footer>
  </mat-card>
</form>
</section>
