<section class="signup-section">
  <form
    fxLayout="column"
    fxLayoutAlign="center center"
    #f="ngForm"
    (submit)="onSubmit(f)"
  >
    <mat-form-field>
      <input
        matInput
        type="email"
        placeholder="Email"
        ngModel
        name="email"
        #emailInput="ngModel"
        email
        required
      />
      <mat-error *ngIf="emailInput.hasError('required')"
        >E-Mail boş bırakılamaz.</mat-error
      >
      <mat-error *ngIf="!emailInput.hasError('required')"
        >E-Mail tanımsızdır.</mat-error
      >
    </mat-form-field>
    <mat-form-field hintLabel="En az 6 karakter olmalıdır.">
      <input
        matInput
        type="password"
        placeholder="Parola"
        ngModel
        name="password"
        minlength="6"
        required
        #pwInput="ngModel"
      />
      <mat-hint align="end">{{ pwInput.value?.length || 0 }}/6</mat-hint>
      <mat-error> En az 6 karakter olmalıdır.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="Tarih Seçiniz"
        [matDatepicker]="picker"
        [max]="maxDate"
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="picker"
        ngModel
        name="birthDay"
        required
      ></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-checkbox
      color="primary"
      labelPosition="before"
      ngModel
      name="agree"
      required
      >Şartları ve lisansı kabul et</mat-checkbox
    >
    <button
      disabled="!f.enabled"
      type="submit"
      mat-raised-button
      color="primary"
    >
      Kaydet
    </button>
  </form>
</section>
