<div
  class="welcome"
  fxLayout="column"
  fxLayout.gt-md="row"
  fxLayoutGap.gt-md="20px"
  fxLayoutAlign="center center"
>
  <section>
    <h1>Activity</h1>
    <div>
      Do officia sunt sunt occaecat aliqua ex pariatur ad.
    </div>
  </section>
  <section>
    <h1>Community</h1>
    <div>
      Do officia sunt sunt occaecat aliqua ex pariatur ad.
    </div>
  </section>
  <section>
    <h1>Achievements</h1>
    <div>
      Do officia sunt sunt occaecat aliqua ex pariatur ad.
    </div>
  </section>
</div>
