@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
html,body{
    height:100%;
    padding:0;
    margin:0;
    color:#fff !important;
  }
  .container{
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .container::before{
    content: "";
      background-image: url('./assets/Başlıksız.png');
      background-size: cover;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: 0.5;
  }
  .container>*{
    position: absolute;
    content: "";
    top: 20%;
    font-weight: bold !important;
  }