@import '@angular/material/prebuilt-themes/indigo-pink.css';
html,body{
    height:100%;
    padding:0;
    margin:0;
  }
  .container{
    width:100%;
    height: 100%;
    background-image: linear-gradient(to top, #fcb4b6 0%, #fecfef 99%, #fecfef 100%);
    display:flex;
    justify-content:center;
    align-items:center;
  }